*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
}

body{
    background-color: #00A9FF;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

#main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main form{
    width: 400px;
    padding: 60px;
    border-radius: 10px;
    background-color: #FF9B50;
}

#main input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid wheat;
    border-radius: 5px;
    margin: 10px 0;
    outline: none;
}

#main button{
    width: 100%;
    padding: 10px 20px;
    background-color: #1450A3;
    border: 1px solid #1450A3;
    border-radius: 5px;
    margin: 20px 0;
    outline: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}