

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

li{
	list-style: none;
}
a{
	display: block;
	text-decoration: none;
}

body{
	background-color:#b3cde0;
}

.container{
	width: 1140px;
	margin: 0 auto;
}

/*Login page*/

